main{
}
section{
  coor: #fff;
}
#mainFooter{
  height: 100%;
}
section>.wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* about */
#about{
  background-color: #fafafa;
  height: 100vh;
}
#about .wrap{
  color: #01403A;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}
#about h2{
  color: #01403A;
  line-height: 1;
}
#about h2 strong{
  color: #73161E;
  margin-right: 5px;
}
#about article{
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about .about_left{
  width: 45%;
}
#about h3{
  font-size: 25px;
  font-weight: 100;
  line-height: 2;
  font-style: italic;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  width: max-content;
}
#about h3 strong{
  color: #73161E;
}
#about p{
  line-height: 1.5;
}
#about .about_right{
  position: relative;
}
#about .about_right::before{
  content: "";
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -50px;
  z-index: 1;
}
#about img{
  width: 205px;
  height: 300px;
  border: 1px solid #73161E;
}
#about .about_right::after{
  content: "";
  display: block;
  width: 450px;
  height: 250px;
  border: 1px solid #73161E; 
  position: absolute; 
  top: 10px; 
  right: -125px; 
  transform: rotate(60deg);
}
#about a{
  display: block;
  width: 150px;
  text-align: center;
  line-height: 2.5;
  color: #eee;
  background-color: #01403A;
  transition:all 0.5s;
  font-size: 15px;
}
#about a:hover{
  background-color: #73161E;
}
/* skill */
#skill{
  background-color: #eee;
  /*! height: 380vh; */
}
#skill .wrap{
  position: relative;
}
#skill h2{
  text-align: center;
  color: #01403A;
  line-height: 5;
  padding-top: 100px;
  box-sizing: border-box;
}
#skill h2 strong{
  color: #73161E;
}
#skill ul{
  margin: 0 auto;
  max-width: 900px;
  margin-top: 50px;
  position: relative;
  height: 3000px;
  width: 80vw;
}
#skill li{
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 5%;
  font-size: 130px;
  position: absolute;
  font-weight: 700;
  color: #fff;
  box-shadow: 5px 5px 5px #555;
  transition: all 0.5s;
}
#skill li:hover{
  /*! scale: 1.1; */
}
#skill li:nth-child(1){
  top: 100px;
  left: 0;
  background-color: #01403A;
  background-image: url(../img/html.svg);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;}
#skill li::before{
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  right: calc(100% / 2 - 65px);
  top: calc(100% / 2 - 65px);
/*   border:2px solid #ADBF9B; */
  border-radius: 15%;
  box-sizing: border-box;
}
#skill li:nth-child(2){
  top: 500px;
  right: 0;
  background-color: #73161E;
  background-image: url(../img/css.png);
  background-size: 110%;
  background-position: center;
}
#skill li:nth-child(3){
  top: 900px;
  left: 30%;
  background: linear-gradient(135deg, #73161E 50%, #01403A 45%);
  font-size: 80px;
  line-height: 1;
}
#skill li:nth-child(3) span{
  letter-spacing: -12px;
  padding-right: 12px;
}
#skill li:nth-child(4){
  top: 1300px;
  left: 0;
  background-color: #73161E;
  background-image: url(../img/jquery.png);
  background-size: 67%;
  background-position: center;
  background-repeat: no-repeat;
}
#skill li:nth-child(5){
  top: 1700px;
  right: 0;
  background-color: #01403A;
  font-size: 85px;
}
#skill li:nth-child(6){
  top: 2100px;
  left: 0;
  background-color: #73161E;
  background-image: url(../img/react.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#skill li:nth-child(7){
  top: 2500px;
  right: calc(100% / 2 - 110px);
  background-color: #73161E;
  font-size: 50px;
  line-height: 2;
  font-family: 'Dancing Script', cursive;
}
#skill li:nth-child(7)::before{
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 5%;
  box-shadow: 5px 5px 5px #555;
  right: 110px;
  top: 0;
  background-color: #01403A;
  background-image: url(../img/sass.png);
  background-size: 100%;
  background-position: center;
}

#skill li img{
  width: 150px;
  display: none;
}
#skill li h3{
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -50px;
}
#skill li:nth-child(1) h3,
#skill li:nth-child(3) h3,
#skill li:nth-child(5) h3{
  color: #01403A;
  font-size: 20px;
}
#skill li:nth-child(2) h3,
#skill li:nth-child(4) h3,
#skill li:nth-child(6) h3{
  color: #73161E;
}
#skill li:nth-child(7) h3{
  color: #01403A;
  width: max-content;
  top: -60px;
  left: calc(100% / 2 - 115px);
  font-family: notosanskr;
}
#skill li:nth-child(7) h3 strong{
  color: #73161E;
}
#skill li:nth-child(3) h3{
  font-size: 18px;
}
#skill li p{
  position: absolute;
  left: 130px;
  bottom: 0;
  width: max-content;
  line-height: 2;
  color: #01403A;
  text-align: left;
  margin:0 25px;
  z-index: 1;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  animation: line 3s linear 1;
}
@keyframes line{
  from{
      border-bottom: 2px solid transparent;
  }
  to{
      border-bottom: 2px solid;
  }
}
#skill li p::before{
  /*! content: ""; */
border:1px solid;
  width: 300px;
  height: 130px;
  position: absolute;
  left: -191px;
  bottom: 30px;
  transform: rotate(45deg);
  /*! border-radius: 50%; */
}
#skill li:nth-child(1) p::before,
#skill li:nth-child(3) p::before,
#skill li:nth-child(4) p::before,
#skill li:nth-child(5) p::before{
  left: 20px;
}
#skill li:nth-child(2) p::before{
  right: 20px;
  
}
#skill li:nth-child(2) p{
  left: -360px;
  color: #73161E;
  text-align: right;
}
#skill li:nth-child(4) p{
  color: #73161E;
}
#skill li:nth-child(5) p{
  left: -310px;
  text-align: right;
}
#skill li:nth-child(6) p{
  color: #73161E;
}
#skill li:nth-child(7) p{
  top: 30px;
  text-align: center;
  font-family: inherit;
  position: relative;
  margin: inherit;
  left: -150px !important;
}
#skill li:nth-child(7) p span{
  letter-spacing: 2px;
  font-family: 'Dancing Script', cursive;
}
/* 포트폴리오 */

#portfolio{
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}
#portfolio .wrap{
  justify-content: space-evenly;
  width: 100vw;
}
#portfolio h2{
  color: #01403A;
  text-align: center;
  line-height: initial;
}
#portfolio h2 strong{
  color: #73161E;
}
#portfolio ul.worklist{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
  box-sizing: border-box;
}
#portfolio ul li{
  margin: 0 10px;
}
#portfolio ul li .list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#portfolio ul li img{
  width: 300px;
  border: 1px solid #73161E;
}
#portfolio .manual{
  width: 300px;
  height: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #73161E;
  background-color: #fff;
  border-top: transparent;
}
#portfolio ul li h3{
  color: #01403A;
  font-weight: 500;
  font-size: 23px;
}
#portfolio ul li p{
  font-size: 16px;
  color: #73161E;
  text-align: center;
  line-height: 1.5;
}
#portfolio ul li p span{
  display: block;
  line-height: 1.3;
  padding-bottom: 20px;
  color: #01403A;
  box-sizing: border-box;
}
#portfolio ul li a{
  display: block;
  width: 150px;
  text-align: center;
  border-radius: 3px;
  line-height: 2;
  color: #eee;
  background-color: #01403A;
  transition:all 0.5s;
}
#portfolio ul li a:hover{
  background-color: #73161E;
}
/* 컨택트 */
#contact {
  background-image: linear-gradient(347.6deg, #eee 100%,#0000 25.2%);
  border-radius: 0 0 0 25%;
  height: 100vh;
}
#contact .wrap {
  align-items: center;
  justify-content: center;
}
#contact span{
  display: none;
}
.typing {
  width: 43ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2.1vw; 
  color:#73161E !important;
  font-weight: lighter;
  display: block !important;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
#contact h2 {
  color: #01403A;
  margin-top: 100px;
}
#contact h2 strong{
  color: #73161E;
}
#contact ul{
  margin: 0 auto;
  padding-left: 60px;
}
#contact ul li{
  position: relative;
}
#contact ul li a{
  font-size: 18px;
  color: #01403A;
  display: block;
  letter-spacing: 5px;
  line-height: 3;
  transition: all 0.5s;
}
#contact ul li a:hover{
  scale: 1.1;
  color: #73161E;
}
#contact ul li::before{
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -60px;
  top: calc(100% / 2 - 15px);
  border-radius: 50%;
  background-color: #01403A;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
#contact ul li:nth-child(1)::before{
  background-image: url(../img/call.svg);
}
#contact ul li:nth-child(2)::before{
  background-image: url(../img/mail.svg);
}
#contact ul li:nth-child(3)::before{
  background-color: #fff;
  background-size: 110%;
  background-image: url(../img/github.svg);
}
.slick-dots li button::before{
  color: #73161E !important;
}